/*  ====================
  Imported stylesheets
====================  */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/*  ===============
Custom Properties 
===============  */

:root {
	--main-color: #3a3a3a;
	--secondary-color: #8d3daf;
}

/*  ============= 
  Common styles
=============  */

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}
.container {
	max-width: 1200px;
	margin: 0 auto 80px;
	padding: 0 20px;
}

/*  ================
  Navigation sytle 
================  */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100px;
}
.nav-title {
	font-size: 24px;
	font-weight: 700;
	color: var(--secondary-color);
}
.navbar ul {
	list-style-type: none;
	display: flex;
	align-items: center;
}
.navbar a {
	text-decoration: none;
	font-size: 16px;
	font-weight: 600;
	color: var(--main-color);
	padding: 15px;
}
.navbar img {
	width: 36px;
}
.navbar li:hover > a {
	color: var(--secondary-color);
}

/*  ================
  Top Banner style 
================  */

.top-banner {
	display: flex;
	justify-content: center;
	align-items: center;
}
.banner-info {
	flex: 3;
	margin-right: 50px;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.banner-title {
	font-size: 52px;
	color: var(--main-color);
}
.banner-writting {
	font-size: 16px;
	font-weight: 600;
	color: var(--main-color);
}
.banner-button {
	width: fit-content;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	padding: 10px 20px;
	background-color: #ffffff;
	color: var(--secondary-color);
	border: 3px solid var(--secondary-color);
	border-radius: 30px;
	cursor: pointer;
}
.banner-button:hover {
	background-color: var(--secondary-color);
	color: #ffffff;
}
.banner-picture {
	flex: 2;
	margin-left: 50px;
	position: relative;
}
.banner-image {
	position: absolute;
	top: 10px;
	left: 10px;
}
@keyframes typing {
	0% {
		color: var(--main-color);
	}
	25% {
		color: #ffffff;
	}
	50% {
		color: var(--secondary-color);
	}
	75% {
		color: #ffffff;
	}
	100% {
		color: var(--main-color);
	}
}
.top-banner:hover #top-heading-animation {
	animation: typing 3s ease infinite;
}

/*  ==============================
  Top Online platform Logo style 
==============================  */

.company-logos {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid;
	border-bottom: 2px solid;
	border-image: linear-gradient(90deg, #8d3daf1a, #8d3daf99, #8d3daf1a);
	border-image-slice: 1;
}

/*  ====================== 
Popular Collection Items 
======================  */
.product-banner {
	display: flex;
	flex-direction: column;
	position: relative;
}
.title {
	font-size: 28px;
	font-weight: 700;
	color: var(--main-color);
	text-align: center;
	padding: 30px 0;
	position: relative;
}
.products {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	gap: 30px;
	width: 80%;
	margin: 0 auto;
	position: relative;
}
.product {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 40px #00000026;
	border-radius: 10px;
	padding: 15px;
}
.product-title {
	font-size: 28px;
	font-weight: 700;
	color: var(--main-color);
}
.product-price {
	font-size: 24px;
	color: var(--main-color);
	margin: 10px 0;
}
.product-rating {
	display: flex;
	align-items: center;
	font-size: 15px;
	color: #5e6366;
}
.stars {
	margin-right: 5px;
	color: #fb8200;
}
.product-info {
	font-size: 14px;
	font-weight: bold;
	color: #787885;
}
div > .button {
	position: absolute;
	right: 0;
	margin: 30px 80px;
}
.button {
	text-decoration: none;
	border: none;
	font-size: 16px;
	background-color: #ffffff;
	color: var(--secondary-color);
	width: fit-content;
	cursor: pointer;
}

/*  ============    
  footer sryle
============  */

footer {
	background-color: #0a0826;
	height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.footer-title {
	font-size: 24px;
	font-weight: bold;
	color: #ffffff;
}
.footer-info {
	font-size: 14px;
	color: #ffffff;
}
.fab {
	padding: 5px;
	font-size: 18px;
	width: 24px;
	text-align: center;
	text-decoration: none;
	margin: 10px 3px;
	border-radius: 50%;
	cursor: pointer;
}
.fab:hover {
	opacity: 0.7;
}
.fa-facebook-f,
.fa-linkedin-in,
.fa-github,
.fa-youtube {
	background: #ffffff1a;
	color: #ffffff;
}
